<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Tue Sep 27 2016 15:11:57 GMT+0000 (UTC) -->
<html data-wf-page="57ea7eb706f8c9724dc38a09" data-wf-site="57d800df270afde94894ffed">
<head>
  <meta charset="utf-8">
  <title>Deligreens - Lancement imminent</title>
  <meta content="Home page alternate" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link href="css/normalize.css" rel="stylesheet" type="text/css">
  <link href="css/webflow.css" rel="stylesheet" type="text/css">
  <link href="css/custom.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
  <script type="text/javascript">
    WebFont.load({
      google: {
        families: ["Anonymous Pro:regular,italic,700,700italic","Dosis:200,300,regular,500,600,700,800","Work Sans:100,200,300,regular,500,600,700,800,900:latin-ext,latin"]
      }
    });
  </script>
  <script src="js/modernizr.js" type="text/javascript"></script>
  <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/0719/1357/t/52/assets/favicon.png?14691352031239233277" type="image/png" />
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="home-alternate">
    <div class="w-container"><img class="logo" src="images/logo_blanc.svg" width="108">
      <h1 class="alternate hero-title">LE SUPERMARCHÉ EST MORT,<br>VIVE LE <span class="super">SUPER</span> MARCHÉ !</h1>
      <div class="alternate-feature">
        <div class="div-feature"><img class="checkmark" src="images/check mark.svg" width="20">
          <h4 class="alternate feature">Des super produits livrés dans votre cuisine</h4>
        </div>
        <div class="div-feature"><img class="checkmark" src="images/check mark.svg" width="20">
          <h4 class="alternate feature">Des prix qui ont un sens</h4>
        </div>
        <div class="div-feature"><img class="checkmark" src="images/check mark.svg" width="20">
          <h4 class="alternate feature">Du bio, du local, du bio &amp; local</h4>
        </div>
        <div class="div-feature"><img class="checkmark" src="images/check mark.svg" width="20">
          <h4 class="alternate feature">Livraison gratuite à partir de 59€ d'achat</h4>
        </div>
      </div>
      <h5 class="abonnement alternate feature"><em class="lancement">LANCEMENT IMMINENT !</em></h5>
    </div>
    <div class="block-flex-verti">
      <div class="footer-part-1">
        <div class="w-container">
          <h1 class="alternate footer titre">INSCRIVEZ-VOUS À LA NEWSLETTER</h1>
          <div class="alternate footer soustitre">Pour ne pas manquer le lancement</div>
          <p id='message-sub' style='color: white; text-align: center; display: none'>Merci de vérifier votre email</p>
          <div class="form-wrapper nl w-form">
            <!-- Begin MailChimp Signup Form -->
            <form class="form-nl" action="//deligreens.us9.list-manage.com/subscribe/post?u=e99616db31d25dfda8f0ded81&amp;id=34b78bec00" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <input autofocus="autofocus" class="text-field w-input" maxlength="256" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Votre email" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e99616db31d25dfda8f0ded81_34b78bec00" tabindex="-1" value=""></div>
              <input type="submit" value="GO !" name="subscribe" id="mc-embedded-subscribe" class="nl submit-button w-button">
            </form>
            <!--End mc_embed_signup-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  <script>
    // $('#mc-embedded-subscribe').click(function() {
    //   // $('.alternate.footer.titre').css('text-align', 'center');
    //   setTimeout(function () {
    //     // $('#message-sub').show('slow');
    //     $('.soustitre.footer.alternate').text('Merci de vérifier votre email')
    //   }, 1200);
    // });
    //
    $('#mc-embedded-subscribe').click(function (e) {
        e.preventDefault();
        $.ajax({
            url: 'https://deligreens.us9.list-manage.com/subscribe/post-json?u=e99616db31d25dfda8f0ded81&amp;id=34b78bec00&c=?',
            type: 'GET',
            data: $('#mc-embedded-subscribe-form').serialize(),
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
               if (data['result'] != "success") {
                    //ERROR
                    $('.soustitre.footer.alternate').text('Vous êtes déjà inscrit ou l\'email est incorrect');
               } else {
                    //SUCCESS - Do what you like here
                    $('.soustitre.footer.alternate').text('Merci de vérifier votre email');
                    $('#mc-embedded-subscribe-form').hide('slow');
               }
            }
        });
    });
  </script>
  <script>
    (function(t,a,l,k,u,s,e){if(!t[u]){t[u]=function(){(t[u].q=t[u].q||[]).push(arguments)},t[u].l=1*new Date();s=a.createElement(l),e=a.getElementsByTagName(l)[0];s.async=1;s.src=k;e.parentNode.insertBefore(s,e)}})(window,document,'script','//www.talkus.io/plugin.beta.js','talkus');
    talkus('init', 'JS7yBf2c3rsm9Fcws');
  </script>
</body>
</html>
